* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.card {
  background-color: #cffafe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}
.profile {
  width: 30%;
  margin-bottom: 20px;
}
.watch {
  width: 20%;
}
h1 {
  margin-bottom: 20px;
}
p {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 300;
}
.name {
    color: #0f172a;
}
.para {
    color: #1e293b;
}

@media(min-width: "768px") {
    .card {
        min-width: 70%;
    }
}
